body{
  background-color: #f0f2f5;
  margin: 0px;
  padding: 0px;
}


.post{
  
  background-color: #ffffff;
  width: 100%;
  max-width: 350px;
  margin: 18px auto;
  box-shadow: 4px 4px 4px 4px grey;
}

.posthead{
  display: flex;
  margin-bottom: 0px;
  gap: 6px;
  
}

.profilename{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #050505;
  margin-top: 10px;
}


.profileImage > img{
  border: 1px solid gray;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 60px;
}

.mid{
  display: flex;
  flex-direction: column;
}

.post .date {
  font-family: Arial, Helvetica, sans-serif;
  color: #65676b;
}

.mainImage{
  margin-top: 5px;
}

.mainImage  > img{
    
width: 100%
}

.postfooter{
  display: flex;
  justify-content: space-around;
  border-top:1px solid black ;
}

.postText{
  margin-left: 16px;
  margin-right: 22px;
  font-family: Arial, Helvetica, sans-serif;

}


.icon{
  margin-top: 5px;
}
.button{
  padding: 3px 3px;
  flex-grow: 1;
  text-align: center;
  margin: 3px;
}
 
.button:hover{
  cursor: pointer;
  color: blue;
}

@media screen and (max-width: 500px) {
  .post {
   width: 100%;
   max-width: 100%;
  }
}